*.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/test_scattering_1.cpython-38.pyc
utils/__pycache__/makeuvdeprojplot_simple_multiple.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/__init__.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/analyze.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/crd_trans.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/data.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/dustopac.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/image.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/miescat.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/molecule.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/natconst.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/octree.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/params.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/radsources.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/reggrid.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/setup.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/__pycache__/staratm.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/__init__.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/_libfunc.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/_modellist.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/lines_nlte_lvg_1d_1.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/ppdisk.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/ppdisk_amr.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/simple_1.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/spher1d_1.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/spher2d_1.cpython-38.pyc
radmc-3d/version_0.41/python/radmc3dPy/models/__pycache__/test_scattering_1.cpython-38.pyc
tutorials/imaging.ipynb
